{% extends 'base.html' %} {% block content %}

<h1>ALL MOVIES</h1>
<div class="movie-container">
  {% for movie in display_movie %}
  <div class="card">
    <div class="card-content">
      <h2>{{ movie.title }}</h2>
      <img
        src="https://image.tmdb.org/t/p/original{{ movie.poster }}"
        alt="{{ movie.title }} poster"
        width="400px"
        height="300px"
      />
      <form method="POST" action="{% url 'add_to_watchlist' movie.id %}">
        {% csrf_token %}
        <button type="submit">Add to Watchlist</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
